<div id="sidebar">

  <h2>Tiled Vegetation Index</h2>

  <p>
    <label for="base">Base:</label>
    <select id="base">
      <option value="rgb">RGB</option>
      <option value="nir">NIR</option>
    </select>
  </p>
  
  <p>
    <label for="vi">Vegetation Index</label>
    <select id="vi">
      <option value="none">None</option>
    </select>
  </p>

  <p>
    <div id="index_histogram"></div>
  </p>
  
</div>

<div id="map"></div>